
[access]
	inheritFrom = Kernel-Projects
[project]
	description = Owner: bmahadev@\nBUG: 26853153
[access "refs/heads/oreo-vts-dev"]
	label-DrNo-Review = -1..+1 group google/android-treble-vts-domain-ninjas@google.com
[access "refs/heads/oreo-mr1-vts-dev"]
	label-DrNo-Review = -1..+1 group google/android-treble-vts-domain-ninjas@google.com
[access "refs/heads/pie-vts-dev"]
	label-DrNo-Review = -1..+1 group google/android-treble-vts-domain-ninjas@google.com
[access "refs/heads/oreo-dev"]
	label-Autosubmit = +0..+1 group mdb/android-core-networking
	submit = group mdb/android-core-networking
[access "refs/heads/pie-dev"]
	label-Autosubmit = +0..+1 group mdb/android-core-networking
	submit = group mdb/android-core-networking
[access "refs/heads/android10-dev"]
	label-Autosubmit = +0..+1 group mdb/android-core-networking
	submit = group mdb/android-core-networking
[access "refs/heads/android10-tests-dev"]
	label-Autosubmit = +0..+1 group mdb/android-core-networking
	submit = group mdb/android-core-networking
[access "refs/heads/android11-dev"]
	label-Autosubmit = +0..+1 group mdb/android-core-networking
	submit = group mdb/android-core-networking
[access "refs/heads/android11-tests-dev"]
	label-Autosubmit = +0..+1 group mdb/android-core-networking
	submit = group mdb/android-core-networking
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group mdb/android-core-networking
[access "refs/for/*"]
	label-Code-Review = -2..+2 group mdb/android-core-networking
[notify "team-vts"]
	header = cc
	email = vts-dev+code_review@google.com
	type = new_changes
	type = submitted_changes
